<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>东方go</title>
    <link rel="stylesheet" href="css/host.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <!-- 快捷导航模块开始 -->
    <section class="shortcut">
        <div class="w">
            <div class="fl">
                <span>超级涩图欢迎您！</span> &nbsp;<a href="#" class="style_black">请登录</a> <a href="./res.html"
                    class="style_red">免费注册</a>
            </div>
            <div class="fr">
                <ul>
                    <li>我的涩图</li>
                    <li></li>
                    <li class="arrow_icon">我的Pixiv</li>
                    <li></li>
                    <li>涩图会员</li>
                    <li></li>
                    <li>企业采购</li>
                    <li></li>
                    <li class="arrow_icon">关注涩图</li>
                    <li></li>
                    <li class="arrow_icon">各户服务</li>
                    <li></li>
                    <li class="arrow_icon">网站导航</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- 快捷导航模块结束 -->
    <!-- 头部开始 -->
    <header class="head w">
        <div class="logo">
            <h1>
                <a href="#" title="超级涩图">超级涩图</a>
            </h1>
        </div>
        <div class="bar">
            <input type="text" placeholder="超级Sanae">
            <a href="#">Search</a>
        </div>
        <div class="head_hot">
            <ul>
                <li><a href="#">kagiyamahina</a></li>
                <li><a href="#">koishi</a></li>
                <li><a href="#">sanae</a></li>
                <li><a href="#">yukari</a></li>
                <li><a href="#">reimu</a></li>
                <li><a href="#">shion</a></li>
                <li><a href="#">Asashio</a></li>
            </ul>
        </div>
        <div class="head_shoppingcart"><a href="#">我的Hgame ></a></div>
    </header>
    <!-- 头部结束 -->
    <!-- nav开始 -->
    <div class="nav">
        <div class="w">
            <div class="dropdown">
                <div class="dt">全部涩图分类</div>
                <div class="dd">
                    <ul>
                        <li>超级厄厄</li>
                        <li>超级厄厄</li>
                        <li>超级厄厄</li>
                        <li>超级厄厄</li>
                        <li>超级厄厄</li>
                        <li>超级厄厄</li>
                        <li>超级厄厄</li>
                        <li>超级厄厄</li>
                        <li>超级厄厄</li>
                    </ul>
                </div>
            </div>
            <div class="navitem">
                <a href="#">涩图城</a>
                <a href="#">涩图馆</a>
                <a href="#">涩图超市</a>
                <a href="#">全球购</a>
                <a href="#">闪购</a>
                <a href="#">团购</a>
                <a href="#">拍卖</a>
                <a href="#">有趣</a>
            </div>
        </div>
    </div>
    <!-- nav结束 -->
    <!-- 首页专属 main模块 开始 -->
    <div class="w">
        <div class="main">
            <div class="focus">
                <ul>
                    <li>
                        <img src="./picture/reimu.jpg">
                    </li>
                </ul>
            </div>
            <div class=" newsflash">
                <div class="news">
                    <div class="news_head">
                        <h4>涩图快报</h4>
                        <h4><a href="#">更多 ></a></h4>
                    </div>
                    <ul>
                        <li><a href="#">[超级] 东风谷早苗 sanae th10</a></li>
                        <li><a href="#">[厄厄] 键山雏 agiyamahina th10</a></li>
                        <li><a href="#">[笨蛋] 九九九 chiruno th5</a></li>
                        <li><a href="#">[文文] 射命丸文 aya th10</a></li>
                        <li><a href="#">[小五] 古明地觉 satori th11</a></li>
                        <li><a href="#">[恋恋] 古明地恋 koishi th11</a></li>
                    </ul>
                </div>
                <div class="news_blank">
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="news_img">
                    <img src="./picture/88673901_p0.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- 首页专属 main模块 结束 -->
    <!-- recom模块 开始 -->
    <div class="recom w">
        <div class="recom_time"></div>
        <div class="recom_box">

            <div class="recom_item"><a href=""><img src="./picture/recom1.png"></a></div>
            <div class="recom_item"><a href=""><img src="./picture/recom2.png"></a></div>
            <div class="recom_item"><a href=""><img src="./picture/recom3.png"></a></div>
            <div class="recom_item"><a href=""><img src="./picture/recom4.png"></a></div>
        </div>

    </div>
    <!-- recom模块 结束 -->
    <!-- 猜你喜欢模块strat -->
    <div class="like w">
        <div class="like_head">猜你喜欢</div>
        <div class="like_body"><img src="./picture/死秽回避之药（虹龙洞卡牌）.png" alt=""></div>
        <div class="like_body"><img src="./picture/符咒卡牌（虹龙洞卡牌）.png" alt=""></div>
        <div class="like_body"><img src="./picture/迷你八卦炉（虹龙洞卡牌）.png" alt=""></div>
        <div class="like_body"><img src="./picture/疯狂之月（虹龙洞卡牌）.png" alt=""></div>
        <div class="like_body"><img src="./picture/生命卡牌（虹龙洞卡牌）.png" alt=""></div>
        <div class="like_body"><img src="./picture/未雨绸缪之符（虹龙洞卡牌）.png" alt=""></div>
    </div>
    <!-- 猜你喜欢模块end -->
    <!-- 幻想乡卖场strat -->
    <div class='uriba_box w'>
        <div class="uriba_hd w">
            <div>幻想乡卖场</div>
            <ul>
                <li>天界</li>
                <li>冥界</li>
                <li>月之都</li>
                <li>永远亭</li>
                <li>白玉楼</li>
                <li>雾之湖</li>
                <li>守矢神社</li>
                <li>博麗神社</li>
            </ul>
        </div>

        <div class="uriba_box_first">
            <div class="uriba_hakure">
                <div></div>
                <p>交易自由</p>
            </div>
            <div class="uriba_hakure">
                <div></div>
                <p>装备回收</p>
            </div>
            <div class="uriba_hakure">
                <div></div>
                <p>权限保护</p>
            </div>
        </div>
    </div>
    <!-- 幻想乡卖场end -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="footer_box w">
            <div class="footer_head">
                <div>
                    <div class="footer_head_img"></div>
                    <h2>正品保障</h2>
                    <p>koishi_koishi</p>
                </div>
                <div>
                    <div class="footer_head_img"></div>
                    <h2>正品保障</h2>
                    <p>koishi_koishi</p>
                </div>
                <div>
                    <div class="footer_head_img"></div>
                    <h2>正品保障</h2>
                    <p>koishi_koishi</p>
                </div>
                <div>
                    <div class="footer_head_img"></div>
                    <h2>正品保障</h2>
                    <p>koishi_koishi</p>
                </div>
                <div>
                    <div class="footer_head_img"></div>
                    <h2>正品保障</h2>
                    <p>koishi_koishi</p>
                </div>
            </div>
            <div class="footer_list">
                <ul>
                    <li>
                        <dt>koishi</dt>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                    </li>
                    <li>
                        <dt>yukari</dt>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                    </li>
                    <li>
                        <dt>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>koishisane</dd>
                        </dt>
                    </li>
                    <li>
                        <dt>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        </dt>
                    </li>
                    <li>
                        <dt>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        <dd>sanae</dd>
                        </dt>
                    </li>

                </ul>
            </div>
            <div class="footer_bottom">
                <div class="fridendlink">
                    <ul>
                        <li>touhou</li>
                        <li>touhou</li>
                        <li>touhou</li>
                        <li>touhou</li>
                        <li>touhou</li>
                        <li>touhou</li>
                        <li>touhou</li>
                        <li>touhou</li>
                        <li>touhou</li>
                        <li>touhou</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部结束 -->
</body>

</html>