<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/res.css">
</head>

<body>
    <div id="form-block">
        <div id="form-block--left">
            <div id="left-content">
                <h2>Lorem ipsum dolor</h2>
                <h1>Become a member</h1><span class="small-text">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit,
                    sed do eiusmod tempor</span>
                <br /><span class="small-text">incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam</span>
                <div id="buttons">
                    <button title="Sign Up with Google +" name="button-g+" class="signup-button"><b
                            class="icon zocial-googleplus"></b><span>SIGN UP USING GOOGLE +</span>
                    </button>
                    <button title="Sign Up with Facebook" name="button-fb" class="signup-button"><b
                            class="icon zocial-facebook"></b><span>SIGN UP USING FACEBOOK</span>
                    </button>
                    <button title="Sign Up with Twitter" name="button-tw" class="signup-button"><b
                            class="icon zocial-twitter"></b><span>SIGN UP USING TWITTER</span>
                    </button>
                </div>
            </div>
            <hr />
            <p class="bottom-text">You can also sign in using an email addres<a href="#" title="Sign in by Email"
                    class="email-link">USE YOUR EMAIL &#8594;</a>
            </p>
        </div>
        <div id="form-block--right"><img src="./picture/chiruno.jpg" />
        </div>
    </div>
    <p class="copyright">UI concept by <a href="">Gil</a>
    </p>
    <p class="copyright">Realisation by <a href="">@therealnorman</a> - <a href="">Portfolio</a>
    </p>
</body>

</html>